* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(16, 104, 104);
}

header {
    width: 100%;
    height: 25%;
    background-color: rgb(78, 32, 121);
}

#container2 {
    width: 100%;
    height: 75%;
    background-color: rgb(14, 92, 27);
    display: flex;
}

#container3 {
    width: 80%;
    height: 100%;
    background-color: rgb(50, 64, 124);
}

aside {
    width: 20%;
    height: 100%;
    background-color: rgb(16, 33, 110);
}